@{
    var index = (int)ViewData["index"];
}

<div id="network-item-@index" class="card volume-item" data-index="@index">
    <label>Name:</label>
    <input type="text" name="Volumes[@index].Name" value="@Model.Name" placeholder="Enter volume name" required />

    <label>Driver:</label>
    <select name="Volumes[@index].Driver">
        <option value=""></option>
        <option value="local">Local</option>
        <option value="nfs" >NFS</option>
        <option value="custom">Custom</option>
    </select>

    <label>Source:</label>
    <input type="text" name="Volumes[@index].Source" value="@Model.Source" placeholder="Enter source path" />

    <label>Target:</label>
    <input type="text" name="Volumes[@index].Target" value="@Model.Target" placeholder="Enter target path" />

    <label>Access Mode:</label>
    <select name="Volumes[@index].AccessMode">
        <option value=""></option>
        <option value="rw">Read/Write</option>
        <option value="ro">Read-Only</option>
    </select>

    <div class="form-row">
        <label for="external-checkbox-@index">External:</label>
        <input id="external-checkbox-@index" type="checkbox" name="Volumes[@index].External" value="true" />
    </div>

    <div class="form-row">
        <label for="readonly-checkbox-@index">Read Only:</label>
        <input id="readonly-checkbox-@index" type="checkbox" name="Volumes[@index].ReadOnly" value="true" />
    </div>


    <!-- Driver Options -->
    <div class="driver-options">
        <h4>Driver Options</h4>
        <div id="driver-options-container-@index">
            @if (Model.DriverOptions != null)
            {
                foreach (var option in Model.DriverOptions)
                {
                    <div class="driver-option-item">
                        <label>Key:</label>
                        <input type="text" name="Volumes[@index].DriverOptions[@option.Key]" value="@option.Key" placeholder="Enter key" />
                        <label>Value:</label>
                        <input type="text" name="Volumes[@index].DriverOptions[@option.Key]" value="@option.Value" placeholder="Enter value" />
                        <button type="button" class="remove-driver-option-button">Remove Option</button>
                    </div>
                }
            }
        </div>
        <button type="button" class="add-driver-option-button" data-volume-index="@index">Add Driver Option</button>
    </div>

    <!-- Labels -->
    <div class="labels">
        <h4>Labels</h4>
        <div id="labels-container-@index">
            @if (Model.Labels != null)
            {
                foreach (var label in Model.Labels)
                {
                    <div class="label-item">
                        <label>Key:</label>
                        <input type="text" name="Volumes[@index}.Labels[@label.Key]" value="@label.Key" placeholder="Enter key" />
                        <label>Value:</label>
                        <input type="text" name="Volumes[@index}.Labels[@label.Key]" value="@label.Value" placeholder="Enter value" />
                        <button type="button" class="remove-label-button">Remove Label</button>
                    </div>
                }
            }
        </div>
        <button type="button" class="add-label-button" data-volume-index="@index">Add Label</button>
    </div>

    @* <button type="button" class="remove-volume-button">Remove Volume</button> *@
</div>
